pandas
lxml
tqdm
rank-bm25
jupyter
ipykernel

xml file of the folders 001979, 002000

1. In the main directory run python parser.py to parse the data(only 2000) They will be stored inside data/interim/parsed_patents.jsonl